<%=
    content_for(:title) { "Access Denied" }
    #content_for(:description) { unit.seo_description.blank? ? "#{unit.title} ~ #{t('site_name')}" : unit.seo_description }
    #content_for(:keywords) { unit.seo_keywords.blank? ? "#{unit.title} ~ #{t('site_name')}" : unit.seo_keywords }
%>

<div style="text-align: center; font-size: 55px; margin-top: 50px; margin-bottom: 8px;">
  <b>Access denied</b>
</div>