<%=
    content_for(:title) { "404 Not Found" }
    #content_for(:description) { unit.seo_description.blank? ? "#{unit.title} ~ #{t('site_name')}" : unit.seo_description }
    #content_for(:keywords) { unit.seo_keywords.blank? ? "#{unit.title} ~ #{t('site_name')}" : unit.seo_keywords }
%>
<div style="text-align: center; font-size: 55px; margin-top: 50px; margin-bottom: 8px;">
  <b>404</b>
</div>
<div style="text-align: center; font-size: 34px; margin-top: 5px; margin-bottom: 89px;">
  Page is not found
</div>