<p><%= t("activerecord.attributes.basket.products") %></p><span>3600p.</span>
<div class="line"></div>
<p><%= t("activerecord.attributes.basket.other") %></p><span><span>3600p.</span></span>
<div class="line"></div>
<p><%= t("activerecord.attributes.basket.total") %></p><span>3600p.</span>
