<!--gmaps4rails-->
<div class="center_item">
  <div class="main noborder">
    <%= render 'form' %>
  </div>
  <!--<div class="social-panel">-->
    <%#= render "service_partial/social_panel", :target => @post %>
  <!--</div>-->
</div>

<%#= render "posts/side_bar" %>
