<div class="sidebar">
  <% unless @articles_sidebar.empty? %>
      <div class="title_sidebar">
        Журнал
      </div>
      <% @articles_sidebar.each do |post| %>
          <%= render "posts/post_preview_item", :target => post, :second => false, :show_date => false %>
      <% end %>
  <% end %>
  <%= link_to "Все посты", magazine_path, :class => "all" unless @articles_sidebar.empty? %>
</div>

<div id="fix-here" class="sidebar">
  <%= render "layouts/social_wigets" %>
</div>
