<div class="slider_box">
  <div class="slides slide_second">
    <div class="slides_container">
      <div class="slide">
        <img src="assets/slide-1.jpg" width="638" height="422" alt="">

        <div class="caption">
          <a href="/" title="">поло <span>Quiksilver </span>

            <p>2999p.</p></a>
        </div>
        <!--end caption-->
      </div>
      <!--end slide-->
      <div class="slide">
        <img src="assets/slide-2.jpg" width="638" height="422" alt="">

        <div class="caption">
          <a href="/" title="">поло <span>Quiksilver </span>

            <p>2999p.</p></a>
        </div>
        <!--end caption-->
      </div>
      <!--end slide-->
      <div class="slide">
        <img src="/assets/slide-3.jpg" width="638" height="422" alt="">

        <div class="caption">
          <a href="/" title="">поло <span>Quiksilver </span>

            <p>2999p.</p></a>
        </div>
        <!--end caption-->
      </div>
      <!--end slide-->
    </div>
    <!--end slides_container-->
  </div>
  <!--end slides-->
</div>
<!--end slider_box-->
