<div class="center">
  <%= render "welcomes/slider" %>
  <div class="column">
    <div class="cat">
      <a href="#" class="link_img"><img src="assets/1.jpg" width="300" height="344" alt=""/></a>
      <a href="#" class="title">Поло Quiksilver</a>
      <span>1800p.</span>
    </div>
    <!--end cat-->
    <div class="cat">
      <a href="#" class="link_img"><img src="assets/3.jpg" width="300" height="370" alt=""/></a>
      <a href="#" class="title">Крепления сноубордические Union </a>
      <span>1800p.</span>
    </div>
    <!--end cat-->
  </div>
  <!--end column-->

  <div class="column column_second">
    <%= render "welcomes/inside" %>
    <div class="cat">
      <a href="#" class="link_img"><img src="assets/2.jpg" width="300" height="457" alt=""/></a>
      <a href="#" class="title">Ботинки сноубордические VANS</a>
      <span>1800p.</span>
    </div>
    <!--end cat-->
  </div>
  <!--end column-->

  <%= render "welcomes/slider" %>

  <div class="column">
    <div class="cat">
      <a href="#" class="link_img"><img src="assets/2.jpg" width="300" height="457" alt=""/></a>
      <a href="#" class="title">Крепления сноубордические Union </a>
      <span>1800p.</span>
    </div>
    <!--end cat-->
  </div>
  <!--end column-->
  <div class="column column_second">
    <div class="cat">
      <a href="#" class="link_img"><img src="assets/2.jpg" width="300" height="457" alt=""/></a>
      <a href="#" class="title">Ботинки сноубордические VANS</a>
      <span>1800p.</span>
    </div>
    <!--end cat-->
  </div>
  <!--end column-->
</div>


<%= render "welcomes/side_bar" %>