<div class="center">
  <%= render "welcomes/slider" %>
  <div class="column">
    <div class="cat">
      <a href="#" class="link_img"><img src="assets/1.jpg" width="300" height="344" alt=""/></a>
      <a href="#" class="title">Поло Quiksilver</a>
      <span>1800p.</span>
    </div>
    <!--end cat-->
    <div class="cat">
      <a href="#" class="link_img"><img src="assets/3.jpg" width="300" height="370" alt=""/></a>
      <a href="#" class="title">Крепления сноубордические Union </a>
      <span>1800p.</span>
    </div>
    <!--end cat-->
  </div>
  <!--end column-->
  <div class="column column_second">
    <div class="about">
      <img src="assets/7.png" width="89" height="74" alt=""/>

      <p> Мы решили сделать этот проект потому что нам нехватало определенных вещей в нашей жизни. Так вышло что мы
        узнали что тех же вещей нехватает нашим друзьям а также у нас есть знакомые дизайнеры которые нам очень
        нравятся, они делают отличные вещи и мы хотели бы собрать их здесь , может они
        понравятся и вам.</p>
      <span> Женя и Илья</span>
    </div>
    <!--end about-->
    <div class="cat">
      <a href="#" class="link_img"><img src="assets/2.jpg" width="300" height="457" alt=""/></a>
      <a href="#" class="title">Ботинки сноубордические VANS</a>
      <span>1800p.</span>
    </div>
    <!--end cat-->
  </div>
  <!--end column-->

  <%= render "welcomes/slider" %>

  <div class="column">
    <div class="cat">
      <a href="#" class="link_img"><img src="assets/2.jpg" width="300" height="457" alt=""/></a>
      <a href="#" class="title">Крепления сноубордические Union </a>
      <span>1800p.</span>
    </div>
    <!--end cat-->
  </div>
  <!--end column-->
  <div class="column column_second">
    <div class="cat">
      <a href="#" class="link_img"><img src="assets/2.jpg" width="300" height="457" alt=""/></a>
      <a href="#" class="title">Ботинки сноубордические VANS</a>
      <span>1800p.</span>
    </div>
    <!--end cat-->
  </div>
  <!--end column-->
</div>


<%= render "welcomes/side_bar" %>