
<div class="center">
  <!--<div class="slider_box">-->
    <!--<div class="slides">-->
      <!--<div class="slides_container">-->
        <!--<div class="slide">-->
          <!--<img src="/assets/images/slide-1.jpg" width="638" height="422" alt="">-->

          <!--<div class="caption">-->
            <!--<a href="/" title=""><span>Alife</span> Every<br/> body Low Pro<br/>Leather<p>2999p.</p></a>-->
          <!--</div>-->
          <!--&lt;!&ndash;end caption&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;end slide&ndash;&gt;-->
        <!--<div class="slide">-->
          <!--<img src="images/slide-2.jpg" width="638" height="422" alt="">-->

          <!--<div class="caption">-->
            <!--<a href="/" title=""><span>Alife</span> Every<br/> body Low Pro<br/>Leather<p>72999p.</p></a>-->
          <!--</div>-->
          <!--&lt;!&ndash;end caption&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;end slide&ndash;&gt;-->
        <!--<div class="slide">-->
          <!--<img src="images/slide-3.jpg" width="638" height="422" alt="">-->

          <!--<div class="caption">-->
            <!--<a href="/" title=""><span>Alife</span> Every<br/> body Low Pro<br/>Leather<p>5000p.</p></a>-->
          <!--</div>-->
          <!--&lt;!&ndash;end caption&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;end slide&ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash;end slides_container&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash;end slides&ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash;end slider_box&ndash;&gt;-->
  <!--<div class="column">-->
    <!--<div class="cat">-->
      <!--<a href="#" class="link_img"><img src="images/1.jpg" width="300" height="344" alt=""/></a>-->
      <!--<a href="#" class="title">Поло Quiksilver</a>-->
      <!--<span>1800p.</span>-->
    <!--</div>-->
    <!--&lt;!&ndash;end cat&ndash;&gt;-->
    <!--<div class="cat">-->
      <!--<a href="#" class="link_img"><img src="images/3.jpg" width="300" height="370" alt=""/></a>-->
      <!--<a href="#" class="title">Крепления сноубордические Union </a>-->
      <!--<span>1800p.</span>-->
    <!--</div>-->
    <!--&lt;!&ndash;end cat&ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash;end column&ndash;&gt;-->
  <!--<div class="column column_second">-->
    <!--<div class="about">-->
      <!--<img src="images/7.png" width="89" height="74" alt=""/>-->

      <!--<p> Мы решили сделать этот проект потому что нам нехватало определенных вещей в нашей жизни. Так вышло что мы-->
        <!--узнали что тех же вещей нехватает нашим друзьям а также у нас есть знакомые дизайнеры которые нам очень-->
        <!--нравятся, они делают отличные вещи и мы хотели бы собрать их здесь , может они-->
        <!--понравятся и вам.</p>-->
      <!--<span> Женя и Илья</span>-->
    <!--</div>-->
    <!--&lt;!&ndash;end about&ndash;&gt;-->
    <!--<div class="cat">-->
      <!--<a href="#" class="link_img"><img src="images/2.jpg" width="300" height="457" alt=""/></a>-->
      <!--<a href="#" class="title">Ботинки сноубордические VANS</a>-->
      <!--<span>1800p.</span>-->
    <!--</div>-->
    <!--&lt;!&ndash;end cat&ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash;end column&ndash;&gt;-->
  <!--<div class="slider_box">-->
    <!--<div class="slides slide_second">-->
      <!--<div class="slides_container">-->
        <!--<div class="slide">-->
          <!--<img src="images/slide-1.jpg" width="638" height="422" alt="">-->

          <!--<div class="caption">-->
            <!--<a href="/" title="">поло <span>Quiksilver </span>-->

              <!--<p>2999p.</p></a>-->
          <!--</div>-->
          <!--&lt;!&ndash;end caption&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;end slide&ndash;&gt;-->
        <!--<div class="slide">-->
          <!--<img src="images/slide-2.jpg" width="638" height="422" alt="">-->

          <!--<div class="caption">-->
            <!--<a href="/" title="">поло <span>Quiksilver </span>-->

              <!--<p>2999p.</p></a>-->
          <!--</div>-->
          <!--&lt;!&ndash;end caption&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;end slide&ndash;&gt;-->
        <!--<div class="slide">-->
          <!--<img src="images/slide-3.jpg" width="638" height="422" alt="">-->

          <!--<div class="caption">-->
            <!--<a href="/" title="">поло <span>Quiksilver </span>-->

              <!--<p>2999p.</p></a>-->
          <!--</div>-->
          <!--&lt;!&ndash;end caption&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;end slide&ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash;end slides_container&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash;end slides&ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash;end slider_box&ndash;&gt;-->
  <!--<div class="column">-->
    <!--<div class="cat">-->
      <!--<a href="#" class="link_img"><img src="images/2.jpg" width="300" height="457" alt=""/></a>-->
      <!--<a href="#" class="title">Крепления сноубордические Union </a>-->
      <!--<span>1800p.</span>-->
    <!--</div>-->
    <!--&lt;!&ndash;end cat&ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash;end column&ndash;&gt;-->
  <!--<div class="column column_second">-->
    <!--<div class="cat">-->
      <!--<a href="#" class="link_img"><img src="images/2.jpg" width="300" height="457" alt=""/></a>-->
      <!--<a href="#" class="title">Ботинки сноубордические VANS</a>-->
      <!--<span>1800p.</span>-->
    <!--</div>-->
    <!--&lt;!&ndash;end cat&ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash;end column&ndash;&gt;-->
</div>
<!--end center-->
<div class="sidebar">
  <!--<div class="title_sidebar">-->
    <!--Журнал-->
  <!--</div>-->
  <!--&lt;!&ndash;end title_sidebar&ndash;&gt;-->
  <!--<div class="block">-->
    <!--<div class="img_box">-->
      <!--<a href="#"><img src="images/slide-2.jpg" width="300" height="200" alt=""></a>-->
    <!--</div>-->
    <!--&lt;!&ndash;end img_box&ndash;&gt;-->
    <!--<a href="#" class="block_title"><span>Алексей Бобров:</span> «Что Это?»: Краснополянские зарисовки</a>-->

    <!--<p>Съемочной команде российского кинопроекта о сноубординге «Что это?», который реализуется благодаря компании-->
      <!--Quiksilver и при поддержке Nokia Lumia, трудно отказаться от такого удовольствия, как тонны свежего и легкого-->
      <!--снега.</p>-->
  <!--</div>-->
  <!--&lt;!&ndash;end block&ndash;&gt;-->
  <!--<div class="block">-->
    <!--<div class="img_box">-->
      <!--<a href="#"><img src="images/slide-2.jpg" width="300" height="200" alt=""><span>&nbsp;</span></a>-->
    <!--</div>-->
    <!--&lt;!&ndash;end img_box&ndash;&gt;-->
    <!--<a href="#" class="block_title"><span>Алексей Бобров:</span> «Что Это?»: Краснополянские зарисовки</a>-->

    <!--<p>Съемочной команде российского кинопроекта о сноубординге «Что это?», который реализуется благодаря компании-->
      <!--Quiksilver и при поддержке Nokia Lumia, трудно отказаться от такого удовольствия, как тонны свежего и легкого-->
      <!--снега.</p>-->
  <!--</div>-->
  <!--&lt;!&ndash;end block&ndash;&gt;-->
  <!--<div class="block">-->
    <!--<div class="img_box">-->
      <!--<a href="#"><img src="images/slide-2.jpg" width="300" height="200" alt=""></a>-->
    <!--</div>-->
    <!--&lt;!&ndash;end img_box&ndash;&gt;-->
    <!--<a href="#" class="block_title"><span>Алексей Бобров:</span> «Что Это?»: Краснополянские зарисовки</a>-->

    <!--<p>Съемочной команде российского кинопроекта о сноубординге «Что это?», который реализуется благодаря компании-->
      <!--Quiksilver и при поддержке Nokia Lumia, трудно отказаться от такого удовольствия, как тонны свежего и легкого-->
      <!--снега.</p>-->
  <!--</div>-->
  <!--&lt;!&ndash;end block&ndash;&gt;-->
  <!--<a href="#" class="all"></a>-->

  <%= render "layouts/social_wigets" %>
</div>
<!--end sidebar-->
