<div class="center_item">
  <div class="main noborder">
    <h1><%= @static.title %></h1>
    <%= image_tag @static.image.url(:album_normal), :alt => @static.title, :class => "big_img" %>
    <%= raw @static.content %>
  </div>
</div>

<!--@articles_side_bar = Post.side_bar-->
<!--@shop_side_bar = Product.shop_side_bar-->

<%= render "statics/side_bar", :articles => @articles_side_bar, :products => @shop_side_bar %>
