<div class="block list_preview list_small_preview">
  <div class="img_box">
    <%= link_to raw("#{image_tag(target.get_preview.image.url(:preview_item), :alt => target.title, :width => 300)}#{'<span></span>' if target.video_emb?}"), magazine_post_path(target.short_url) %>
  </div>
  <%= link_to raw("<span>#{target.author.full_name unless target.author.nil?}:</span> #{target.title}"), magazine_post_path(target.short_url), :class => "block_title" %>
  <p>
    <%= raw target.description %>
  </p>
  <% if show_date %>
      <div class="date_magazine"><%= Russian::strftime(target.created_at, "%d %B") %></div>
  <% end %>
</div>