<div class="slider_box">
  <div class="slides slide_second">
    <div class="slides_container">
      <% target.each do |image| %>
          <div class="slide">
            <%= image_tag image.get_cover.image(:slider), :alt => image.get_cover.title %>
            <div class="caption">
              <%=  %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>