<%= image_tag @post.post_images.first.image.url(:big), :alt => @post.title if @post.post_images.size > 0 %>

<div class="center_item">
  <div class="main noborder">
    <h1><%= t('backend.titles.editing', :model => t('activerecord.model.post')) %></h1>
    <%= render 'form' %>
  </div>
</div>
