<%= image_tag @post.post_images.first.image.url(:big), :alt => @post.title if @post.post_images.size > 0 %>

<div class="center_item">
  <div class="main noborder">
    <%= render 'form' %>
  </div>

  <%#= render "service_partial/social_panel", :target => @post %>
  <%#= render "service_partial/fb_comments" %>
</div>
<%#= render "posts/side_bar" %>
