<div id="full_list" class="magazine_list">
  <div class="list_preview title_magazine">
    <p><%= @cover_magazine.year_number %> НОМЕР</p>
    <span><%= magazine_date(@cover_magazine.release_date) %></span>
  </div>

  <%= render "posts/magazine_cover", :target => @cover_magazine, :article => @cover_magazine.main_article %>

  <% @cover_magazine.articles.each do |post| %>
      <%= render "posts/post_preview_item", :target => post, :show_date => true %>
  <% end %>
</div>
