.map_container {
    border-color: #CCCCCC #CCCCCC #999999;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 5px rgba(64, 64, 64, 0.1);
    padding: 6px;
    width: 966px;
    margin-bottom: 13px;
}

.gmaps4rails_map {
    height: 500px;
    width: 965px;
}