.menu-top {
    display: none;
    padding: 55px;
    overflow: auto;

    background: #EEEEEE;
    color: #eee;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu-top .admin_menu {
    width: 100%;
}

.menu-top-arrow {
    background: url("bg_dotted.png") repeat scroll 0 0 transparent;
    border: 1px dashed #CCCCCC;
    border-radius: 25px 25px 25px 25px;
    height: 50px;
    left: -34px;
    position: fixed;
    top: 50%;
    transition: opacity 0.4s ease 0.4s;
    width: 50px;
}

.meny-active .menu-top-arrow {
    opacity: 0;
    transition: opacity 0.2s ease 0s;
}

body.meny-active .menu-top {
    -webkit-box-shadow: 13px 13px 21px 5px rgba(0, 0, 0, 0.8);
    box-shadow: 13px 13px 21px 5px rgba(0, 0, 0, 0.8);
}

body.meny-active, body.meny-active wrapper.div {
    overflow-y: auto;
    background: url(bg_dotted.png) repeat scroll 50% 50% #EEEEEE;
}

.page-content {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}