/*reset*/
@charset "utf-8";
/* CSS Document */
html, body, div, p, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

img {
    border: none;
}

.body_editor {
    background: url(bgeditor.png) repeat scroll 50% 50% #EEEEEE;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol {
    list-style: none;
}

input[type="submit"]::-moz-focus-inner {
    padding: 0;
    border: 0
}

/*end reset*/

form input[type="text"] {
    border: 1px solid #D5D5D5;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 15px;
    padding: 0 5px;
    width: 100%;
}

@font-face {
    font-family: 'BrushScriptStdRegular';
    src: url('brushscriptstd-webfont.eot');
    src: url('brushscriptstd-webfont.eot?#iefix') format('embedded-opentype'), url('brushscriptstd-webfont.woff') format('woff'), url('brushscriptstd-webfont.ttf') format('truetype'), url('brushscriptstd-webfont.svg#BrushScriptStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturisCBold';
    src: url('futurisc-bold-webfont.eot');
    src: url('futurisc-bold-webfont.eot?#iefix') format('embedded-opentype'), url('futurisc-bold-webfont.woff') format('woff'), url('futurisc-bold-webfont.ttf') format('truetype'), url('futurisc-bold-webfont.svg#FuturisCBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturisCRegular';
    src: url('futurisc-webfont.eot');
    src: url('futurisc-webfont.eot?#iefix') format('embedded-opentype'), url('futurisc-webfont.woff') format('woff'), url('futurisc-webfont.ttf') format('truetype'), url('futurisc-webfont.svg#FuturisCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.hidden {
    display: none;
}

body {
    background: #fff;
    line-height: 1;
    font-family: "Helvetica", "Arial", sans-serif;
}

a {
    text-decoration: none;
    color: #006CFF;
    font-family: "FuturisCRegular";
}

.wrapper {
    width: 980px;
    margin: 0 auto;
}

#header {
    float: left;
    min-height: 214px;
    position: relative;
    width: 100%;
    z-index: 21;
}

#fullover {
    background: url(coming-soon.png) no-repeat scroll 50% 0 rgba(255, 255, 255, 0.89);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#fullover a {
    display: block;
    height: 100%;
    width: 100%;
}

.logo {
    background: url(logos/logo.png) no-repeat;
    width: 167px;
    height: 160px;
    position: absolute;
    top: 20px;
    left: 415px;
}

.logo_part {
    background: url("logos/logo.png") no-repeat scroll -57px -160px transparent;
    height: 250px;
    left: 472px;
    position: absolute;
    top: 180px;
    width: 29px;
    z-index: 10000;
}

.logo.mag {
    background: url(logos/logo-orange.png) no-repeat;
}

.logo_part.mag {
    background: url(logos/logo-orange.png) no-repeat scroll -57px -160px transparent;
}

.logo.shop {
    background: url(logos/logo-shop.png) no-repeat;
}

.logo_part.shop {
    background: url(logos/logo-shop.png) no-repeat scroll -57px -160px transparent;
}

.info {
    color: #000000;
    float: left;
    font-size: 13px;
    height: 150px;
    line-height: 18px;
    margin: 20px 0 0;
    width: 245px;
    font-family: "FuturisCRegular";
}

.info a, .basket-icon a {
    color: #006CFF;
}

.basket-icon {
    z-index: 5555;
    position: absolute;
    right: 0;
    top: 20px;
    background: url("basket.png") no-repeat scroll center 21% transparent;
    border: 1px dashed rgba(0, 0, 0, 0.1);
    height: 56px;
    text-align: center;
    width: 121px;
    padding-top: 28px;
}

.basket-icon span {
    font-family: 'BrushScriptStdRegular';
    font-size: 21px;
    display: block;
    margin-bottom: 8px;
}

.basket-icon a {
    font-size: 13px;

    /*color: #000000;*/
    font-family: 'FuturisCRegular';
    font-size: 14px;
    line-height: 14px;
    /*padding: 13px 0;*/
}

.menu_left {
    float: left;
    /*margin: 111px 0 0;*/
    position: relative;
    z-index: 2;
    font-family: "FuturisCRegular";
    font-weight: 400;
}

.menu_right, .admin_menu {
    float: right;
    position: relative;
    z-index: 2;
    font-family: "FuturisCRegular";
    font-weight: 400;
}

.menu_left li {
    float: left;
    margin-right: 25px;
}

.menu_right li,
.admin_menu li {
    float: left;
    margin-left: 25px;
}

.menu_left li a, .menu_right li a, .admin_menu li a, .sub_menu li a {
    font-size: 20px;
    float: left;
    color: #000000;
    padding-bottom: 11px;
    position: relative;
}

.menu_left li.current a,
.menu_right li.current a {
    /*font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;;*/
    /*font-weight: bold;*/

    font-family: 'FuturisCBold';
    background: url(current.png) no-repeat bottom center;
}

.menu_left li.current ul {
    /*font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;;*/
    font-family: 'FuturisCBold';
    width: 980px;
    position: absolute;
    top: 15px;
    padding-top: 30px;
    left: 0;
}

.menu_left li.current ul {
    /*display: block;*/
}

.sub_menu li {
    /*background: #fff;*/
    margin: 0;
    padding-right: 13px;
    float: left;
}

.menu_left li.current ul li a,
.menu_left li:hover ul li a,
.menu_left li ul li a,
.admin_menu li a, .sub_menu li a {
    font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;;
    font-size: 12px;
    background: none;
}

.sub_menu li a {
    padding-bottom: 34px;
}

li.current ul li.current a {
    font-weight: bold;
}

.admin_control {
    font-weight: bold;
    margin-right: 0.5em !important;
    margin-left: 0 !important;
}

.admin_control:hover {
    text-decoration: underline;
}

.shop_filtration .cuselScrollArrows {
    margin-top: -6px;
}

.line {
    background: #000000;
    width: 100%;
    height: 1px;
    float: left;
    z-index: 1;
    margin: -1px 0 0;
}

.clear {
    clear: both;
}

.clear-8 {
    clear: both;
    height: 8px;
}

#content {
    float: left;
    position: relative;
    width: 100%;
    z-index: 0;
}

#full_list {
    float: left;
    position: relative;
    width: 100%;
    z-index: 10;
    /*clear: both;*/
}

.center {
    float: left;
    width: 640px;
}

.my_basket div.cat:nth-child(even) {
    margin-right: 0px !important;
}

.center h2 {
    color: #000000;
    font-family: "FuturisCRegular";
    font-size: 21px;
    font-weight: 600;
}

.column {
    width: 300px;
    float: left;
}

.link_img {
    float: left;
    width: 100%;
    margin-bottom: 13px;
}

.link_img img {
    float: left;
}

.title {
    font-family: 'FuturisCBold';
    font-size: 20px;
    color: #000000;
    line-height: 21px;
    /*width: 190px;*/
    /*display: inline-block;*/
    /*margin-bottom: 11px;*/
}

.submit, input[type='submit'], button {
    font-family: 'FuturisCRegular';
}

.product_preview {
    margin-bottom: 21px;
}

.list_preview #product_cover_title a p {
    font-family: 'BrushScriptStdRegular';
    font-size: 18px;
    float: left;
    width: 100%;
    margin: 7px 0 0;
}

.cat .cusel span {
    /*font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;;*/
    font-family: 'FuturisCRegular';
}

.cat .cusel {
    line-height: 1;
    /*font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;;*/

    font-family: 'FuturisCRegular';
    float: right;
    margin-right: 8px;
}

.column_second {
    float: right;
}

.about {
    color: #000000;
    font-family: 'FuturisCRegular';
    font-size: 18px;
    height: 345px;
    line-height: 18px;
    text-align: center;
    width: 300px;
    margin-bottom: 0 !important;
}

.about p {
    margin: 17px 0;
}

.about img {
    width: 89px;
    height: 74px;
    display: block;
    margin: 20px auto 0;
}

.about span {
    font-family: 'FuturisCBold';
    font-size: 14px;
}

.welcome-description img {
    margin: 0 auto;
    display: table-caption;
}

.welcome-description textarea {
    display: block;
    margin: 0 auto;
    height: 240px !important;
    width: 300px !important;
    text-align: center;
    font-family: 'FuturisCRegular';
    font-size: 18px !important;
    line-height: 18px !important;
}

.slide_second .caption {
    width: 520px;
    height: 150px;
}

.slide_second span {
    color: #0054ff !important;
}

.slide_second p {
    margin-top: 8px !important;
}

.slide_second .post_image_caption {
    bottom: 0 !important;
    height: 77px;
    left: 34px;
    position: absolute;
    text-transform: uppercase;
    width: 300px;
    word-wrap: break-word;
    z-index: 500;
}

.slide_second .post_image_caption span {
    color: #0054ff !important;
}

.sidebar {
    width: 300px;
    float: right;
    position: relative;
    z-index: 999;
}

#fix-here {
    width: 300px;
    position: relative;
    z-index: 999;
}

.title_sidebar {
    width: 100%;
    font-size: 13px;
    color: #000;
    float: left;
    font-family: "FuturisCRegular";
}

.block {
    float: left;
}

.post_preview {
    width: 300px;
    margin-right: 40px;
}

.post_preview:nth-child(3n) {
    margin-right: 0;
}

.user_properties .block {
    border-top: 1px solid #000000;
    margin: 55px 0 0;
    width: 100%;
}

.block h2 {
    color: #000000;
    font-family: "FuturisCRegular";
    color: #000000;
    font-family: 'FuturisCRegular';
    font-size: 14px;
    line-height: 14px;
    padding: 13px 0;

    font-size: 21px;
    font-weight: 600;
}

.info_block {
    width: 100%;
    float: left;
    margin: -13px 0 15px 0;
}

.img_box {
    float: left;
    height: 200px;
    margin-bottom: 9px;
    position: relative;
    width: 100%;
}

.img_box span {
    background: url(video.png) no-repeat;
    width: 300px !important;
    height: 200px !important;
    position: absolute;
    top: 0;
    left: 0;
}

.block_title {
    font-family: 'FuturisCBold';
    font-size: 18px;
    line-height: 20px;
    color: #000;
}

.block_title span {
    color: #006cff !important;
}

.block p, .info_block p {
    color: #000000;
    font-family: 'FuturisCRegular';
    font-size: 14px;
    line-height: 14px;
    padding: 13px 0;
}

.all {
    background: url("all.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    margin: 0 0 20px 94px;
    padding-left: 18px;
    width: 96px;
}

form input[type="text"], form input[type="number"] {
    border: 1px solid #D5D5D5;
    font-size: 15px;
    height: 34px;
    line-height: 28px;
    margin-bottom: 15px;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

form input[type="file"] {
    margin-bottom: 15px;
}

form textarea {
    border: 1px solid #D5D5D5;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 15px;
    /*padding: 0 3px;*/
    width: 100%;
    height: 320px;
    /*box-sizing: border-box;*/
}

.title-100 {
    width: 100px !important;
}

.title-200 {
    width: 200px !important;
}

.field .span {
    color: #666666;
    font-size: 20px;
    line-height: 24px;
    height: 144px;
    font-family: 'FuturisCRegular';
    width: 100%;
    box-sizing: border-box;
}

form .title {
    color: #000000;
    font-weight: normal;
    font-family: 'FuturisCBold';
    font-size: 35px;
    line-height: 38px;
    height: 80px;
    box-sizing: border-box;
}

.for_look {
    float: left;
    width: 100%;
}

.not_for_look {
    float: left;
    width: 100%;
}

form .welcome_description {
    color: #000000;
    font-family: 'FuturisCRegular';
    font-size: 35px;
    font-weight: normal;
    line-height: 38px;
    height: 330px;
    width: 300px;
    text-align: center;
}

form .product_description {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
    height: 230px;
    width: 100%;
}

form .brand_description {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 5px;
    height: 230px;
    width: 100%;
}

form .price {
    color: #000000;
    font-family: 'BrushScriptStdRegular';
    font-size: 30px;
    font-weight: normal;
    margin: 5px 0 10px;
    height: 80px;
}

form .label {
    width: 65px;
    margin: 3px 0 0 0;
}

.block_social {
    float: left;
    margin: 0 0 15px;
    width: 100%;
}

.twitter {
    padding: 13px 0 0 71px;
}

#footer {
    float: left;
    width: 100%;
    position: relative;
    height: 121px;
    margin: 60px 0 0;
}

#footer .menu_left, #footer .menu_right {
    margin-top: 10px;
}

#footer  .menu_left li:hover a, #footer  .menu_right li:hover a {
    font-family: 'FuturisCRegular';
}

#footer p {
    font-size: 12px;
    color: #000;
    float: left;
    width: 100%;
    text-align: center;
    margin: 40px 0 0;
}

#footer p a {
    text-decoration: underline;
    color: #000;
}

#footer p a:hover {
    text-decoration: none;
}

.logo_footer {
    background: url("logos/logo-b.png") no-repeat scroll 10px 0 #fff;
    width: 110px;
    height: 100px;
    position: absolute;
    top: -40px;
    left: 435px;
}

.logo_footer.mag {
    background: url("logos/logo-b-orange.png") no-repeat scroll 10px 0 #fff;
}

.cat_item {
    float: left;
    margin-bottom: 34px;
    width: 300px;
    margin-right: 40px;
}

.cat_item:nth-child(3n) {
    margin-right: 0;
}

.cat-min-height a.link_img {
    height: 355px;
    overflow: hidden;
}

.no_margin {
    margin-right: 0 !important;
}

.brand p {
    margin-top: 5px;
}

.brand a.site_url {
    color: #006cff;
}

.more {
    background: url("more.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    color: #000000;
    float: left;
    font-family: "FuturisCRegular";
    font-size: 13px;
    line-height: 32px;
    margin: 34px 0 34px 385px;
    position: absolute;
    text-align: center;
    width: 213px;
}

.big_img {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.center_item {
    width: 660px;
    float: left;
    border-right: 1px solid #cccccc;
}

.main {
    border-bottom: 1px solid #000000;
    float: left;
    padding-bottom: 15px;
    width: 637px;
}

.main h1 {
    color: #000000;
    font-family: 'FuturisCBold';
    font-size: 28px;
    font-weight: normal;
    line-height: 55px;
}

.main h3 {
    font-family: 'FuturisCRegular';
    font-weight: bold;

    font-size: 35px;
    color: #000000;
    line-height: 35px;
    margin: 21px 0;
    text-align: center;
    padding: 0 34px;
}

.main h3:before {
    content: '«';
}

.main h3:after {
    content: '»';
}

.noborder {
    border: none;
}

.date {
    float: left;
    width: 100%;
    color: #000000;
    font-size: 11px;
    font-style: italic;
    margin: 4px 0;
}

.main span {
    font-size: 20px;
    line-height: 24px;
    color: #666666;
    float: left;
    /*width: 100%;*/
    margin-bottom: 21px;
}

.main p {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 13px;
}

.date_magazine {
    float: left;
    width: 100%;
    color: #000000;
    font-size: 11px;
    font-style: italic;
    margin: 5px 0 0;
}

.new {
    margin: 15px 0 0;
}

.no_margin_left {
    margin-left: 0;
}

.title_magazine {
    color: #000000;
    float: left;
    font-size: 24px;
    line-height: 14px;
    margin: 8px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 999;
}

.title_magazine p {
    font-family: 'FuturisCBold';
    text-transform: uppercase;
}

.title_magazine span {
    font-size: 11px;
}

.main_item {
    background: #efefef;
    width: 100%;
    border-bottom: 1px solid #000000;
    float: left;
    margin-bottom: 20px;
    min-height: 648px;
}

.description {
    float: left;
    height: 627px;
    padding: 21px 0 0 21px;
    position: relative;
    width: 279px;
    z-index: 999;
}

.description .cusel {
    margin: 0;

}

.use-backround {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
}

.description h1 {
    font-weight: normal;
    font-family: 'FuturisCBold';

    font-size: 36px;
    line-height: 32px;
    color: #000000;
}

.description h2 {
    font-family: 'BrushScriptStdRegular';
    font-size: 30px;
    color: #000000;
    font-weight: normal;
    margin: 5px 0 10px;
}

.description p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 5px;
}

.description p span {
    font-family: 'FuturisCBold';
}

.product_previews {
    position: absolute;
    right: 34px;
    top: 23px;
}

.product_previews li {
    float: none;
    height: 100px;
}

.product_previews li div {
    -webkit-border-radius: 80px;
    border-radius: 80px;
    overflow: hidden;

    -webkit-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.5);

    height: 80px;
    width: 80px;

    cursor: pointer;
}

.flash {
    -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
}

.ui-effects-transfer {
    border: 2px dashed rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 3000;
}

#cuselFrame-post_created_at_3i, #cuselFrame-post_created_at_2i, #cuselFrame-post_created_at_1i {
    margin-right: 13px;
}

.cusel-scroll-wrap span {
    font-size: 12px !important;
    width: 100%;
}

.cusel,
.cuselFrameRight,
.jScrollPaneDrag,
.jScrollArrowUp,
.jScrollArrowDown {
    background-image: url(selects-gree.png) !important;
}

.cusel {
    background-position: left top;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 24px;
    line-height: 24px !important;
    position: relative;
    z-index: 1;
    float: left;
}

.cuselFrameRight {
    position: absolute;
    z-index: 2;
    top: 0;
    right: -9px;
    height: 100%;
    width: 38px;
    background-position: right top;
}

.cuselText {
    height: 24px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    padding-left: 10px;
    left: 0;
    font-size: 12px;
}

* html .cuselText {
    height: 24px;
}

.cusel span {
    background: none repeat scroll 0 0 #FFFFFF;
    cursor: pointer;
    display: block;
    height: 24px;
    margin: 0;
    padding: 0 15px 0 8px;
    white-space: nowrap;
    color: #000;
}

.cusel span:hover,
.cusel .cuselOptHover {
    background: #e1e1e1;
    color: #fff;
}

.cusel .cuselActive {
    background: #000000;
    color: #fff;
    cursor: default;
}

.cuselOpen {
    z-index: 999;
}

.classDisCusel .cuselText {
    cursor: default;
}

.cusel .cusel-scroll-wrap {
    display: block;
    visibility: hidden;
    position: absolute;
    left: 15px;
    top: 100%;
    background: url("drop-down-menu-top.png") no-repeat scroll right 0 transparent;
    min-width: 100%;
    width: auto;
    font-size: 12px !important;
    padding-top: 7px;
}

.cusel .jScrollPaneContainer {
    position: relative;
    overflow: hidden;
    z-index: 5;
    border: 1px solid #999;
}

.cusel .jScrollPaneTrack {
    height: 100%;
    width: 2px !important;
    background: #ccc;
    position: absolute;
    top: 0;
    right: 4px;
}

.cusel .jScrollPaneDrag {
    position: absolute;
    background-position: -40px -24px;
    cursor: pointer;
    width: 10px !important;
    height: 18px !important;
    right: -4px;
}

.cusel .jScrollPaneDragTop {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.cusel .jScrollPaneDragBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.cusel .jScrollArrowUp {
    position: absolute;
    top: 0;
    right: 2px;
    width: 7px !important;
    height: 12px;
    cursor: pointer;
    background-position: -2px -26px;
    overflow: hidden;
}

.cusel .jScrollArrowDown {
    width: 8px !important;
    height: 12px;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 3px;
    cursor: pointer;
    background-position: -21px -26px;
    overflow: hidden;
}

.cusel-scroll-pane {
    columns: 150px auto;
    overflow: hidden;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #000;

    -webkit-box-shadow: 0px 5px 21px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 21px 1px rgba(0, 0, 0, 0.5);
}

.current ul li .cusel {
    margin-top: -5px;
}

.current ul li {
    padding-bottom: 34px;
}

.product_selects {
    min-height: 180px;
    border: 1px dashed #D5D5D5;
    margin-bottom: 13px;
    background-color: #FFFFFF;
}

.product_selects .iPhoneCheckContainer {
    display: block;
    float: left;
    margin: 11px 6px 0 0;
}

.product_selects label, .product_selects .cusel, .product_sizes label {
    display: block;
    float: left;
    width: auto;
}

.product_selects .cusel, .product_selects input[type="checkbox"] {
    margin: 13px 21px 0 0;

}

.product_selects input[type="checkbox"] {
    margin: 18px 21px 0 0;
    float: left;
}

.product_selects label {
    margin: 17px 5px 0;
}

.list_small_preview {
    width: 300px;
    /*position: relative;*/
}

.list_small_preview span {
    /*float: left;*/
    font-family: 'BrushScriptStdRegular';
    font-size: 18px;
    margin: 5px 0 0;
    /*width: 100%;*/
}

/*.list_small_preview img {*/
/*float: left;*/
/*font-family: 'BrushScriptStdRegular';*/
/*font-size: 18px;*/
/*margin: 5px 0 0;*/
/*width: 100%;*/
/*}*/

.list_big_preview {
    width: 640px;
    position: relative;
}

.big_preview_title {
    position: absolute;
}

.big_preview_title a {
    color: #000000;
    font-family: 'FuturisCBold';
    font-size: 50px;
    line-height: 40px;
    text-transform: uppercase;
    word-wrap: break-word;
}

.big_preview_title a p {
    color: #000000;
    font-family: 'BrushScriptStdRegular';
    font-size: 30px;
    text-transform: none;
}

.column .list_preview {
    margin-bottom: 36px;
}

.list_preview {
    margin-bottom: 55px;
}

.product-cover-preview {
    height: 422px;
    width: 638px;
}

.product-cover-preview img, .product-cover-preview #product_cover_title {
    position: absolute;
}

.product-cover-preview img {
    width: 638px;
    height: 422px;
}

#product_cover_title {
    width: 400px;
    display: block;
}

#product_cover_title span {
    float: none;
    font-size: 50px !important;
}

#product_cover_title a {
    color: #000000;
    font-family: 'FuturisCBold';
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    word-wrap: break-word;
}

#product_cover_title p {
    color: #000000;
    font-family: 'BrushScriptStdRegular';
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: none;
}

.product_sizes {
    background-color: #FFFFFF;
    border: 1px dashed #D5D5D5;
    margin: 0 0 5px;
    padding: 5px 0;
    width: 100%;
}

form .looks {
    border: 1px dotted #D5D5D5;
    width: 166px;
    float: left;
    overflow: hidden;
    margin: 0 13px 13px 0;
    padding: 5px;
    white-space: nowrap;
}

.product_sizes label {
    /*margin: 8px 0 3px;*/
}

.size_unit label {
    margin: 3px 0 0 0;
}

.product_sizes input[type="text"] {
    width: 45px;
    margin: 3px 8px 13px 5px;
}

.size_unit {
    float: left;
}

.add {
    background: url(button.png) no-repeat;
    width: 113px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    float: left;
    margin-top: 8px;
    clear: left;
    cursor: pointer;
}

.all_w {
    font-size: 12px;
    color: #004eed;
    margin: 15px 0;
    text-decoration: underline;
    margin: 15px 0;
    float: left;
}

.main_item img {
    /*float: left;*/
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

.relaited {
    /*font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;;*/
    /*font-weight: bold;*/

    font-family: 'FuturisCBold';
    float: left;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 20px;
    height: 55px;
}

.cat_item form {
    width: 100%;
    margin: 0;
    float: left;
}

.cat_item form label {
    font-size: 12px;
    margin: 6px 10px 0 0;
    float: left;
    width: auto;
}

.cat_item form input {
    border: 1px solid #D5D5D5;
    color: #000000;
    float: left;
    font-size: 15px;
    height: 20px;
    line-height: 18px;
    margin: 2px 8px 0 0;
    text-align: center;
    width: 34px;
}

.cat_item form .cusel {
    margin-right: 16px;
}

.cat_item form .cusel span {
    /*font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;;*/
    margin: 0;
    font-weight: bold;
    font-family: 'FuturisCRegular' !important;
}

.my_basket .cat_item form label b {
    color: #ff0000;
    font-weight: normal;
}

.delete {
    background: url(delete.png) no-repeat;
    width: 68px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    color: #ff0000;
    float: left;
    margin: 2px 0 0;
}

.basket {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
}

.basket p {
    float: left;
    margin-top: 7px;

    color: #000000;
    font-family: "FuturisCRegular";
    font-size: 16px;
}

.basket span {
    font-family: 'BrushScriptStdRegular';
    float: right;
    font-size: 30px;
}

.basket span span {
    font-size: 18px;
    margin: 6px 0 5px;
}

.basket .line {
    margin: 5px 0;
}

.feedback {
    float: left;
    width: 100%;
}

.feedback label, form label {
    font-size: 13px;
    /*font-weight: bold;*/
    color: #000000;
    float: left;
    width: 100%;
    margin-bottom: 5px;
    font-family: "FuturisCRegular";
}

.feedback label span, .block span, .info_block span, .field label span {
    color: #ff0000;
    width: auto;
}

.field label span, .field select {
    margin-bottom: 5px;
}

.input {
    border: 1px solid #d5d5d5;
    width: 288px;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    margin-bottom: 15px;
    font-size: 12px;
}

.feedback textarea {
    border: 1px solid #d5d5d5;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    height: 77px;
    margin-bottom: 15px;
}

.actions {
    text-align: center;
}

.submit, .actions input[type='submit'], .notice button {
    background: url(button.png) no-repeat;
    width: 113px;
    height: 32px;
    cursor: pointer;
    border: 0;
    font-size: 12px;
    color: #fff;
    margin: 0 0 0 95px;
}

.actions input[type='submit'], .notice button {
    margin-left: 0;
}

.sub_menu {
    float: left;
    padding-top: 15px;
    position: relative;
    z-index: 1;
}

.sub_menu li .cusel {
    margin: -6px 9px 0 0;
    /*padding-bottom: 28px;*/
}

.sub_menu li.current a {
    font-weight: bold;
}

.admin_menu li.title {
    width: 100%;
}

li.title ul li {
    float: right;
}

.admin_menu li.title, .menu-top h2 {
    color: #006CFF;
    font-family: 'FuturisCRegular';
    font-size: 21px;
    font-weight: normal;
    margin: 21px 0 34px;
    text-align: right;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.admin_menu li.title {
    text-shadow: 2px 1px 0 #FFFFFF;
}

.stuff-title {
    line-height: 47px;
}

.admin_menu li.title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 0;
    padding-bottom: 13px;
}

.my_basket {
    float: right;
}

#content .my_basket ol {
    font-family: 'FuturisCRegular';
    color: #666666;
    float: left;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 21px;
    list-style: decimal;
    padding-left: 34px;
}

#content .my_basket ol li {
    padding: 0 0 13px 21px;
}

#content .my_basket {
    float: left;
    padding-top: 13px;
}

.my_basket .cat_item {
    margin: 0 40px 30px 0;
}

.stuff-title .my_basket .cat_item {
    margin-right: 0;
}

.stuff-price {
    float: right !important;
    line-height: 13px;
    width: auto !important;
}

.my_basket form input[type="text"] {
    color: #006CFF;
}

.my_basket form label {
    line-height: 13px;

}

.admin_menu .my_basket .cat_item {
    float: right;
    background: url("bgeditor.png") repeat scroll 50% 50% #EEEEEE;
    padding: 21px 0 8px 21px;
}

.admin_menu li.title ul li {
    float: right;
}

.admin_menu li.title ul li a, li.title .basket span {
    color: #006CFF;
    font-family: 'FuturisCRegular';
    font-size: 15px;
    font-weight: normal;
    line-height: 21px;
    padding: 13px 0 0;
    text-shadow: none;
}

.basket span {
    color: #000000;
}

#order-price span {
    color: #006CFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.admin_menu li.title ul li a:after {
    color: #006CFF;
    content: " ›";
    font-size: 15px;
    font-weight: 600;
    text-shadow: 1px 0px 1px #CCC;
    text-transform: uppercase;
}

.admin_menu li.title ul li a:hover {
    border-bottom: 1px solid #006CFF;
    padding: 12px 0 0;
}

#order_address {
    height: 55px;
}

.parallax-viewport {
    position: relative; /* relative, absolute, fixed */
    overflow: hidden;
}

.parallax-layer {
    position: absolute;
}

.my_orders ul li, .order_item_list ul li {
    font-size: 13px;
    line-height: 21px;
    padding: 8px;
}

.my_orders ul li:nth-child(odd), .order_item_list ul li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1);
}

.my_orders ul li:first-child, .order_item_list ul li:first-child {
    border-bottom: 1px solid #006CFF;
    /*border-bottom: 1px solid #11FF17;*/
    height: 21px;
}

.my_orders ul li:first-child, .my_orders ul li:first-child a, .order_item_list ul li:first-child, .order_item_list ul li:first-child a, .order_item_list ul li:first-child span {
    color: #000000;
    font-family: "FuturisCBold";
    font-size: 13px;
}

.my_orders ul li {
    margin-bottom: 0;
}

.order_item_list span {
    width: 21%;
    padding-right: 3px;
    line-height: 37px;
}

.order_item_list li:first-child span {
    line-height: 21px;
}

.order_item_list span:first-child {
    width: 15%;
}

.order_item_list span:last-child {
    width: 34%;
}

.my_orders ul li a {
    display: block;
    float: left;
    width: 110px;
}

.my_orders ul li a.order_product_delete {
    float: right;
    width: 70px;
}

.social-panel, .fb-comments {
    overflow: hidden;
    padding-top: 15px;
    float: left;
}

.social-panel .fb-like,
.social-panel .social-vk,
.social-panel .twitter-share-button {
    float: left;
    margin-right: 20px;
    display: inline;
}

#slide-prev {
}

#slide-next {
}

.slide {
    display: none;
}

.cs-activeSlide {
    display: block;
}

.slider_captions {
    display: none;
}

.cusel {
    min-width: 80px;
}

form .cusel {
    margin-bottom: 15px;
}

#cuselFrame-product_welcome_position_id {
    width: 190px !important;
}

#cuselFrame-career_id, #cuselFrame-user_career, #cuselFrame-product_size_id {
    width: 100px !important;
}

#cuselFrame-user_role {
    width: 121px !important;
}

.field img {
    margin-bottom: 15px;
}

.noborder form .field label span {
    font-size: 13px;
    line-height: 13px;
}

#cuselFrame-post_author_id {
    max-width: 170px;
}

.avgrund-active .menu-top {
    opacity: 0;
}

#preview {
    margin: 55px auto 0;
}

.image-upload-preview {
    position: relative;
}

.image-upload-preview .preview_params {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 0;
    top: 0;
    padding: 13px;
    text-align: right;
}

.image-upload-preview .preview_params label {
    float: right;
}

.image-upload-preview #preview {
    margin: 13px;
}

.image-upload-preview .crop_action {
    display: inline-block;
    width: 42px;
    height: 34px;
    background: url("crop-action.png") no-repeat scroll 0 0 transparent;
    margin-right: 8px;
}

.image-upload-preview .destroy_action {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url("destroy-action.png") no-repeat scroll 0 0 transparent;
}

#crop_content input[type="submit"], #crop_content button {
    background: url("button.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    height: 32px;
    /*margin: 34px 0 0 250px;*/
    width: 113px;
    position: absolute;
    bottom: 34px;
}

#crop_content input[type="submit"] {
    left: 34%;
}

#crop_content button {
    right: 34%;
}

.jcrop-holder {
    margin-bottom: 34px;
}

.iPhoneCheckContainer {
    margin: 5px 0;
}

.preview_params .iPhoneCheckContainer {
    float: right;
}

.iPhoneCheckContainer label {
    padding-top: 3px !important;
    margin: 0;
}

.iPhoneCheckContainer label span {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 17px;
    white-space: nowrap;
}

.iPhoneCheckContainer .iPhoneCheckLabelOn span {
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    margin-top: 4px !important;
}

.iPhoneCheckContainer .iPhoneCheckLabelOff span {
    float: none;

    color: #8B8B8B;
    text-align: right;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}

.last_viewed {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.preview_small {
    display: inline-block;
    padding: 13px;
}

.preview_small:nth-child(odd) {
    background: url("bgeditor.png") repeat scroll 50% 50% #EEEEEE;
}

.preview_small .preview_circle {
    border-radius: 80px 80px 80px 80px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset;
    cursor: pointer;
    float: left;
    height: 80px;
    margin: 0 21px 13px 0;
    overflow: hidden;
    width: 80px;

}

.preview_small a {
    font-family: 'FuturisCBold' !important;
}

.preview_small a, .preview_small span {
    width: 175px;
    float: left;
    font-size: 21px !important;
    line-height: 21px !important;
    margin: 0;
    padding: 0 0 8px 0 !important;
    text-align: left;
}

#error_explanation {
    border: 1px dashed red;
    font-family: "Courier New";
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 21px;
    padding: 13px;
}

#error_explanation h2 {
    color: #000000;
    font-family: 'FuturisCRegular';
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 13px;
}

.new_user .actions {
    text-align: left;
}

.masonry {
    padding-bottom: 117px;
}