/*reset*/
@charset "utf-8";
/* CSS Document */
html, body, div, p, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

img {
    border: none;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol {
    list-style: none;
}

input[type="submit"]::-moz-focus-inner {
    padding: 0;
    border: 0
}

/*end reset*/

form input[type="text"] {
    border: 1px solid #D5D5D5;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 15px;
    padding: 0 5px;
    width: 100%;

}

@font-face {
    font-family: 'BrushScriptStdRegular';
    src: url('brushscriptstd-webfont.eot');
    src: url('brushscriptstd-webfont.eot?#iefix') format('embedded-opentype'), url('brushscriptstd-webfont.woff') format('woff'), url('brushscriptstd-webfont.ttf') format('truetype'), url('brushscriptstd-webfont.svg#BrushScriptStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturisCBold';
    src: url('futurisc-bold-webfont.eot');
    src: url('futurisc-bold-webfont.eot?#iefix') format('embedded-opentype'), url('futurisc-bold-webfont.woff') format('woff'), url('futurisc-bold-webfont.ttf') format('truetype'), url('futurisc-bold-webfont.svg#FuturisCBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturisCRegular';
    src: url('futurisc-webfont.eot');
    src: url('futurisc-webfont.eot?#iefix') format('embedded-opentype'), url('futurisc-webfont.woff') format('woff'), url('futurisc-webfont.ttf') format('truetype'), url('futurisc-webfont.svg#FuturisCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.hidden {
    display: none;
}

body {
    background: #fff;
    font-family: 'FuturisCRegular';
}

a {
    text-decoration: none;
    color: #11FF17;
}

.wrapper {
    width: 980px;
    margin: 0 auto;
}

#notice {
    font-size: 13pt;
    padding: 13px 0;
    text-align: center;
}

#header {
    width: 100%;
    float: left;
    position: relative;
    z-index: 999;
    height:250px;
}

.logo {
    background: url(logos/logo.png) no-repeat;
    width: 167px;
    height: 160px;
    position: absolute;
    top: 20px;
    left: 415px;
}

.logo_part {
    background: url("logos/logo.png") no-repeat scroll -57px -160px transparent;
    height: 250px;
    left: 472px;
    position: absolute;
    top: 180px;
    width: 29px;
    z-index: 10000;
}

.logo.mag {
    background: url(logos/logo-orange.png) no-repeat;
}

.logo_part.mag {
    background: url(logos/logo-orange.png) no-repeat scroll -57px -160px transparent;
}

.logo.shop {
    background: url(logos/logo-shop.png) no-repeat;
}

.logo_part.shop {
    background: url(logos/logo-shop.png) no-repeat scroll -57px -160px transparent;
}

.info {
    color: #000000;
    float: left;
    font-size: 13px;
    height: 159px;
    line-height: 18px;
    margin: 20px 0 0;
    width: 245px;
}

.info a, .basket-icon a {
    color: #11ff17;
}

.basket-icon {
    background: url("basket.png") no-repeat scroll center 21% transparent;
    border: 1px dashed rgba(0, 0, 0, 0.1);
    float: right;
    height: 56px;
    margin-top: 20px;
    text-align: center;
    width: 121px;
    padding-top: 28px;
}

.basket-icon span {
    font-family: 'BrushScriptStdRegular';
    font-size: 21px;
    display: block;
    margin-bottom: 8px;
}

.basket-icon a {
    font-size: 13px;
}

.menu_left {
    float: left;
    /*margin: 111px 0 0;*/
    position: relative;
    z-index: 2;
}

.admin_menu {
    margin-top: 12px;
}


.menu_right, .admin_menu {
    float: right;
    /*margin: 111px 0 0;*/
    position: relative;
    z-index: 2;
}

.menu_left li {
    float: left;
    margin-right: 25px;
}

.menu_right li,
.admin_menu li {
    float: left;
    margin-left: 25px;
}

.menu_left li a, .menu_right li a, .admin_menu li a {
    font-size: 20px;
    float: left;
    color: #000000;
    padding-bottom: 10px;
    position: relative;
}

.menu_left li.current a,
.menu_right li.current a {
    font-family: 'FuturisCBold';
    background: url(current.png) no-repeat bottom center;
}

.menu_left li.current ul {
    font-family: Arial, Helvetica, sans-serif;
    width: 980px;
    position: absolute;
    top: 15px;
    padding-top: 30px;
    left: 0;
}

.menu_left li.current ul {
    display: block;
}

.menu_left li ul li {
    background: #fff;
    margin: 0;
    padding-right: 20px;
}

.menu_left li.current ul li a,
.menu_left li:hover ul li a,
.menu_left li ul li a,
.admin_menu li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: none;
}
li.current ul li.current a {
    font-weight: bold;
}

.admin_control {
    font-weight: bold;
    margin-right: 0.5em !important;
    margin-left: 0 !important;
}

.admin_control:hover {
    text-decoration: underline;
}

.shop_filtration .cuselScrollArrows {
    margin-top: -6px;
}

.line {
    background: #000000;
    width: 100%;
    height: 1px;
    float: left;
    z-index: 1;
    margin: -1px 0 0;
}

.clear {
    clear: both;
}

#content {
    float: left;
    position: relative;
    width: 100%;
    z-index: 0;
}

.center {
    float: left;
    width: 640px;
}

.my_basket div.cat:nth-child(even)
{
    margin-right: 0px !important;
}

.slider_box {
    position: relative;
    float: left;
    width: 638px;
    height: 422px;
    margin-bottom: 20px;
}

.slides {
    float: left;
}

.slides_container {
    width: 638px;
    overflow: hidden;
    position: relative;
    display: none;
}

.slides_container div.slide {
    width: 638px;
    height: 422px;
    display: block;
}

.slides .prev, .slides .next {
    background: none;
}

.pagination {
    /*margin: -23px auto 0;*/
    /*width: 39px;*/
    /*position: relative;*/
    /*z-index: 9999;*/

    display: block;
    height: 11px;
    margin: -23px auto 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

.pagination li {
    display: inline-block;
    margin: 0 1px;
}

.pagination li a {
    background: url(pagination.png) -16px 0;
    display: block;
    width: 11px;
    height: 11px;
    float: left;
    overflow: hidden;
    text-indent: -9999px;
}

.pagination li a:hover {
    background-position: 0 0px;
}

.pagination li.current a {
    background-position: 0 0px;
}

.caption {
    font-family: 'FuturisCBold';
    font-size: 50px;
    line-height: 40px;
    width: 400px;
    word-wrap: break-word;
    height: 190px;
    z-index: 500;
    position: absolute;
    bottom: 0px !important;
    left: 50px;
    text-transform: uppercase;
}

.caption a {
    color: #000000;
}

.caption a span {
    color: #00ff06;
}

.caption a p {
    font-family: 'BrushScriptStdRegular';
    font-size: 30px;
}

.column {
    width: 300px;
    float: left;
}

.cat {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}

.link_img {
    float: left;
    width: 100%;
    margin-bottom: 11px;
}

.link_img img {
    float: left;
}

.title {
    font-family: 'FuturisCBold';
    font-size: 20px;
    color: #000000;
    line-height: 18px;
}

.cat span {
    font-family: 'BrushScriptStdRegular';
    font-size: 18px;
    float: left;
    width: 100%;
    margin: 5px 0 0;
}

.column_second {
    float: right;
}

.about {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 20px;
    height: 330px;
}

.about p {
    font-size: 18px;
    line-height: 18px;
    color: #000;
    margin: 15px 0;
}

.about span {
    font-family: 'FuturisCBold';
    font-size: 14px;
}

.slide_second .caption {
    width: 520px;
    height: 150px;
}

.slide_second span {
    color: #0054ff !important;
}

.slide_second p {
    margin-top: 8px !important;
}

.slide_second .post_image_caption {
    bottom: 0 !important;
    height: 77px;
    left: 34px;
    position: absolute;
    text-transform: uppercase;
    width: 300px;
    word-wrap: break-word;
    z-index: 500;
}

.slide_second .post_image_caption span {
    color: #0054ff !important;
}

.sidebar {
    width: 300px;
    float: right;
    position: relative;
    z-index: 999;
}

.title_sidebar {
    width: 100%;
    font-size: 13px;
    color: #000;
    float: left;
}

.block {
    width: 100%;
    float: left;
    margin: 15px 0 20px 0;
}

.info_block {
    width: 100%;
    float: left;
    margin: -13px 0 15px 0;
}

.img_box {
    float: left;
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 8px;
}

.img_box span {
    background: url(video.png) no-repeat;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.block_title {
    font-family: 'FuturisCBold';
    font-size: 18px;
    line-height: 20px;
    color: #000;
}

.block_title span {
    color: #006cff !important;
}

.block p, .info_block p, .field label span {
    font-size: 14px;
    line-height: 14px;
    color: #000;
    /*margin-top: 5px;*/
}

.all {
    background: url(all.png) no-repeat;
    width: 113px;
    height: 32px;
    float: left;
    margin: 15px 0 20px 94px;
}

form input[type="text"], form input[type="number"] {
    border: 1px solid #D5D5D5;
    font-size: 21px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 15px;
    padding: 0 5px;
    width: 100%;
}

form textarea {
    border: 1px solid #D5D5D5;
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 15px;
    padding: 0 3px;
    width: 100%;
}

.field .span {
    color: #666666;
    /*float: left;*/
    font-size: 20px;
    line-height: 24px;
    /*margin-bottom: 50px;*/
    width: 100%;
    height: 144px;
    font-family: 'FuturisCRegular';
}

form .title {
    color: #000000;
    font-family: 'FuturisCBold';
    font-size: 35px;
    font-weight: normal;
    line-height: 38px;
    height: 80px;
}

form .welcome_description {
    color: #000000;
    font-family: 'FuturisCRegular';
    font-size: 35px;
    font-weight: normal;
    line-height: 38px;
    height: 330px;
    width:300px;
    text-align: center;
}

form .product_description {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 5px;
    height:230px;
    width:100%;
}

form .brand_description {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 5px;
    height:230px;
    width:100%;
}

form .price {
    color: #000000;
    font-family: 'BrushScriptStdRegular';
    font-size: 30px;
    font-weight: normal;
    margin: 5px 0 10px;
    height: 80px;
}

#cuselFrame-post_created_at_3i, #cuselFrame-post_created_at_2i, #cuselFrame-post_created_at_1i {
    margin-right: 13px;
}

form .label {
    width: 65px;
    margin: 3px 0 0 0;
}

.block_social {
    float: left;
    width: 100%;
    margin: 15px 0 0;
}

.twitter {
    padding: 13px 0 0 71px;
}

#footer {
    float: left;
    width: 100%;
    position: relative;
    height: 400px;
    margin: 60px 0 0;
}

#footer .menu_left, #footer .menu_right {
    margin-top: 10px;
}

#footer  .menu_left li:hover a, #footer  .menu_right li:hover a {
    background: none;
    font-family: 'FuturisCRegular';
}

#footer p {
    font-size: 12px;
    color: #000;
    float: left;
    width: 100%;
    text-align: center;
    margin: 40px 0 0;
}

#footer p a {
    text-decoration: underline;
    color: #000;
}

#footer p a:hover {
    text-decoration: none;
}



.logo_footer {
    background: url("logos/logo-b.png") no-repeat scroll 10px 0 #fff;
    width: 110px;
    height: 100px;
    position: absolute;
    top: -40px;
    left: 435px;
}

.logo_footer.mag {
    background: url("logos/logo-b-orange.png") no-repeat scroll 10px 0 #fff;
}

.cat_item {
    width: 300px;
    margin: 0 40px 30px 0;
}

.no_margin {
    margin-right: 0 !important;
}

.brand p {
    margin-top: 5px;
}

.brand a.site_url {
    color: #006cff;
}

.more {
    background: url(more.png) no-repeat;
    width: 213px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    text-align: center;
    line-height: 32px;
    float: left;
    margin: 34px 0 34px 385px;
}

.big_img {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.center_item {
    width: 660px;
    float: left;
    border-right: 1px solid #cccccc;
    min-height: 1800px;
}

.main {
    width: 637px;
    border-bottom: 1px solid #000000;
    margin-bottom: 15px;
    float: left;
}

.main h1 {
    font-family: 'FuturisCBold';
    font-weight: normal;
    font-size: 35px;
    color: #000000;
    line-height: 38px;
}

.main h3 {
    font-family: 'FuturisCRegular';
    font-weight: normal;
    font-size: 35px;
    color: #000000;
    line-height: 35px;
    margin: 21px 0;
    text-align: center;
    padding: 0 34px;
}

.main h3:before {
    content: '«';
}

.main h3:after {
    content: '»';
}


.noborder {
    border: none;
}

.date {
    float: left;
    width: 100%;
    color: #000000;
    font-size: 11px;
    font-style: italic;
    margin: 4px 0;
}

.main span {
    font-size: 20px;
    line-height: 24px;
    color: #666666;
    float: left;
    width: 100%;
    margin-bottom: 21px;
}

.cusel-scroll-wrap span {
    font-size: 12px!important;
}

.main p {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 13px;
}

.date_magazine {
    float: left;
    width: 100%;
    color: #000000;
    font-size: 11px;
    font-style: italic;
    margin: 5px 0 0;
}

.new {
    margin: 15px 0 0;
}

.block_second {
    width: 300px;
    float: left;
    margin: 15px 0 0 26px;
}

.no_margin_left {
    margin-left: 0;
}

.title_magazine {
    width: 100%;
    float: left;
    color: #000000;
    font-size: 24px;
    text-align: center;
    margin: 15px 0 0;
    line-height: 14px;
    position: relative;
    z-index: 999;
}

.title_magazine p {
    font-family: 'FuturisCBold';
}

.title_magazine span {
    font-size: 11px;
}

.main_item {
    background: #efefef;
    width: 100%;
    border-bottom: 1px solid #000000;
    float: left;
    margin-bottom: 20px;
}

.description {
    margin: 23px 0 0 25px;
    width: 310px;
    float: left;
    position: relative;
    z-index: 999;
}

.description h1 {
    font-family: 'FuturisCBold';
    font-size: 36px;
    line-height: 32px;
    font-weight: normal;
    color: #000000;
}

.description h2 {
    font-family: 'BrushScriptStdRegular';
    font-size: 30px;
    color: #000000;
    font-weight: normal;
    margin: 5px 0 10px;
}

.description p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 5px;
}

.description p span {
    font-family: 'FuturisCBold';
}

.product_previews {
    position: absolute;
    right: 34px;
    top: 23px;
}

.product_previews li {
    float: none;
    height: 100px;
}

.product_previews li div {
    -webkit-border-radius: 80px;
    border-radius: 80px;
    overflow: hidden;

    -webkit-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.5);

    height: 80px;
    width: 80px;

    cursor: pointer;
}

.cusel,
.cuselFrameRight,
.jScrollPaneDrag,
.jScrollArrowUp,
.jScrollArrowDown {
    background-image: url(selects-gree.png) !important;
}

.cusel {
    background-position: left top;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    max-width: 190px;
    position: relative;
    z-index: 1;
}

.cuselFrameRight {
    position: absolute;
    z-index: 2;
    top: 0;
    right: -9px;
    height: 100%;
    width: 38px;
    background-position: right top;
}

.cuselText {
    height: 24px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
    position: absolute;
    top: 0;
    padding-left: 10px;
    left: 0;
}

* html .cuselText {
    height: 24px;
}

.cusel span {
    background: none repeat scroll 0 0 #FFFFFF;
    cursor: pointer;
    display: block;
    height: 24px;
    margin-bottom: 0;
    padding: 0 15px 0 8px;
    white-space: nowrap;
}

.cusel span:hover,
.cusel .cuselOptHover {
    background: #e1e1e1;
    color: #fff;
}

.cusel .cuselActive {
    background: #000000;
    color: #fff;
    cursor: default;
}

.cuselOpen {
    z-index: 999;
}

.classDisCusel .cuselText {
    cursor: default;
}

.cusel .cusel-scroll-wrap {
    display: block;
    visibility: hidden;
    position: absolute;
    left: 15px;
    top: 100%;
    background: url("drop-down-menu-top.png") no-repeat scroll right 0 transparent;
    min-width: 100%;
    width: auto;
    font-size: 12px!important;
    padding-top: 7px;
}

.cusel .jScrollPaneContainer {
    position: relative;
    overflow: hidden;
    z-index: 5;
    border: 1px solid #999;
}

.cusel .jScrollPaneTrack {
    height: 100%;
    width: 2px !important;
    background: #ccc;
    position: absolute;
    top: 0;
    right: 4px;
}

.cusel .jScrollPaneDrag {
    position: absolute;
    background-position: -40px -24px;
    cursor: pointer;
    width: 10px !important;
    height: 18px !important;
    right: -4px;
}

.cusel .jScrollPaneDragTop {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.cusel .jScrollPaneDragBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.cusel .jScrollArrowUp {
    position: absolute;
    top: 0;
    right: 2px;
    width: 7px !important;
    height: 12px;
    cursor: pointer;
    background-position: -2px -26px;
    overflow: hidden;
}

.cusel .jScrollArrowDown {
    width: 8px !important;
    height: 12px;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 3px;
    cursor: pointer;
    background-position: -21px -26px;
    overflow: hidden;
}

.cusel-scroll-pane {
    columns: 150px auto;
    overflow: hidden;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #000;

    -webkit-box-shadow: 0px 5px 21px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 21px 1px rgba(0, 0, 0, 0.5);
}

.current ul li .cusel {
    margin-top: -5px;
}

.product_selects {
    min-height: 100px;
    border: 1px dashed #D5D5D5;
    width: 100%;
    padding: 0 3px;
}

.product_selects label, .product_selects .cusel, .product_sizes label {
    display: block;
    float: left;
    width: auto;
}

.product_selects .cusel {
    margin: 13px 21px 0 0;
}

.product_selects label {
    margin: 17px 5px 0 0;
}

.product_sizes {
    min-height: 100px;
    border: 1px dashed #D5D5D5;
    width: 100%;
    padding: 0 3px;
}

.product_sizes label {
    margin: 3px 0 0 0;
}

.product_sizes input[type="checkbox"] {
    display: block;
    float: left;
    margin-right: 13px;
}

.add {
    background: url(button.png) no-repeat;
    width: 113px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    float: left;
    margin-top: 8px;
}

.all_w {
    font-size: 12px;
    color: #004eed;
    margin: 15px 0;
    text-decoration: underline;
    margin: 15px 0;
    float: left;
}

.main_item img {
    float: left;
}

.relaited {
    font-family: 'FuturisCBold';
    float: left;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.title_basket {
    margin-bottom: 20px;
}

.cat_item form {
    width: 100%;
    margin: 0;
    float: left;
}

.cat_item form label {
    font-size: 12px;
    margin: 6px 10px 0 0;
    float: left;
    width: auto;
}

.cat_item form input {
    border: 1px solid #D5D5D5;
    color: #000000;
    float: left;
    font-size: 15px;
    height: 18px;
    line-height: 18px;
    margin: 2px 8px 0 0;
    text-align: center;
    width: 21px;
}

.delete {
    background: url(delete.png) no-repeat;
    width: 68px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    color: #ff0000;
    float: left;
    margin: 2px 0 0;
}

.basket {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
}

.basket p {
    float: left;
    margin-top: 7px;
}

.basket span {
    font-family: 'BrushScriptStdRegular';
    float: right;
    font-size: 30px;
}

.basket span span {
    font-size: 18px;
    margin: 6px 0 5px;
}

.basket .line {
    margin: 5px 0;
}

.feedback {
    float: left;
    width: 100%;
}

.feedback label, form label {
    font-size: 13px;
    color: #000000;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.feedback label span, .block span, .info_block span, .field label span {
    color: #ff0000;
    width: auto;
}

.field label span, .field select {
    margin-bottom: 5px;
}

.input {
    border: 1px solid #d5d5d5;
    width: 288px;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    margin-bottom: 15px;
    font-size: 12px;
}

.feedback textarea {
    border: 1px solid #d5d5d5;
    width: 100%;
    padding: 5px;
    height: 77px;
    margin-bottom: 15px;
    resize: none;
    font-size: 12px;
}

.submit, .actions input[type='submit'] {
    background: url(button.png) no-repeat;
    width: 113px;
    height: 32px;
    cursor: pointer;
    border: 0;
    float: left;
    font-size: 12px;
    color: #fff;
    margin: 0 0 0 95px;
}

.actions input[type='submit'] {
    margin-left:0;
}

#fullover {
    background: url("fy7.png") no-repeat scroll 50% 50% rgba(255, 255, 255, 0.89);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#fullover a {
    display: block;
    height: 100%;
    width: 100%;
}

.admin_menu {
    background: #ffffff;
}

.admin_menu li {
    cursor: pointer;
    list-style: none;
    float: left;
    margin: 0;
}

.admin_menu li.title {
    margin-left:8px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.admin_menu li.title ul {
    display: none;
}

.admin_menu li.title:hover ul {
    display: block;
    position: absolute;
}

.admin_menu li.title ul li {
    float: none;
}

.admin_menu li.title ul li a {
    padding: 5px 0 0 0;
    font-weight: normal;
    background: #fff;
}

.parallax-viewport {
    position: relative;     /* relative, absolute, fixed */
    overflow: hidden;
}
.parallax-layer {
    position: absolute;
}