<div class="cat cat_item <%= container_class %>">
  <%= link_to image_tag("3.jpg", :alt => brand.name, :width => 300, :height => 370), brand, :class => "link_img" %>
  <%= link_to brand.name, brand, :class => "title" %>
  <span><%= brand.site_url %></span>
</div>
