<%= meta_tags @brand %>

<%= render "brands/brand_preview_item", :brand => @brand, :container_class => "no_margin", :with_description => true %>
<div class="clear"></div>
<div id="full_list">
  <%= render "products/page", :target => @products %>
  <nav id="page-nav">
    <%= link_to "next page", products_by_page_path(@section, @page + 1), :remote => true unless @more_products.nil? %>
  </nav>
</div>