<div class="cat<%= " new" if new %>">
  <a href="#" class="link_img">
    <%= image_tag "2.jpg", :alt => "", :width => 300, :height => 457 %>
  </a>
  <a href="#" class="title">Крепления сноубордические Union </a>
  <span>1800p.</span>
</div>
