<% @products.each_with_index do |product, i| %>
    <%= render "products/product_preview_item", :product => product, :cat_item => true, :margin_top => false, :container_class => (i+1)%3 == 0 ? "no_margin" : "" %>
<% end %>

<div class="clear"></div>
<!--<a class="more" href="#">Показать еще 25 из 100</a>-->