<div id="<%= "post_image_#{target.id}" %>" class="attache_uploadet">
  <%= target.image_file_name %>
  <%= link_to t('actions.destroy'),  "/post_images/destroy/#{target.id}", :remote => true %>
  <br/>
  <%= image_tag target.image.url(:preview_item) %>
</div>


<!--t.integer  "post_id"-->
<!--t.string   "title"-->
<!--t.boolean  "cover"-->
<!--t.boolean  "preview"-->
<!--t.integer  "image_order",        :default => 0-->
<!--t.string   "image_file_name"-->
