<div id="header">
  <%= link_to "", root_url, :class => "logo" %>
  <%= render "layouts/info" %>
  <div class="clear"></div>
  <%= render "layouts/menu" %>
  <%= image_tag "logo_part.png", :alt => "", :class => "logo_part" %>
  <!--TODO LOGO ALT!-->
</div>
