<div id="default-popup" class="avgrund-popup <%= :notice unless notice.nil? %>">
  <%= content_tag(:p, notice, :id => "notice") unless notice.nil? %>
  <br/>
  <%= content_tag(:button, "Ок/Закрыть", :onclick => "closeModal();") %>
</div>
<div class="avgrund-cover"></div>
