<div class="block_social">
  <%= render "service_partial/fb_like_box" %>
</div>

<div class="block_social">
  <%= render "service_partial/vk_like_box" %>
</div>

<div class="block_social twitter">
  <%= render "service_partial/twitter_follow" %>
</div>